<style>
    .tippny-subscribe-div{
        position: fixed;
        bottom: 25px;
        z-index: 10;
        right: 35px;
    }
</style>

<div class="tippny-subscribe-div">
    <button id="tippny-subscribe-btn">Subscribe for offers from tippny</button>
</div>